.preta{
    background-color: black;
    color: white;
}
.marrom{
    background-color: brown;
    color: white;
}
.vermelho{
    background-color: red;
    color: white;
}
.laranja{
    background-color: orangered;
    color: white;
}
.amarelo{
    background-color: yellow;
    color: white;
}
.verde{
    background-color: green;
    color: white;
}
.azul{
    background-color: blue;
    color: white;
}
.roxo{
    background-color: purple;
    color: white;
}
.branco{
    background-color: whitesmoke;
    color: black;
}
.cinza{
    background-color: grey;
    color: white;
}
.dourado{
    background-color: goldenrod;
    color: white;
}
.prata{
    background-color: silver;
    color: white;
}